name: Build & Test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore ./src/Lod.RecordCollections.sln

    - name: Build
      run: |
        dotnet build ./src/Lod.RecordCollections/Lod.RecordCollections.csproj -c Release --no-restore
        dotnet build ./src/Lod.RecordCollections.IlAssembler/Lod.RecordCollections.IlAssembler.csproj -c Release --no-restore

    - name: Test (Pre-IL Modified)
      run: dotnet test ./src/Lod.RecordCollections.Tests/Lod.RecordCollections.Tests.csproj -c Release --no-restore --verbosity normal

    - name: IL Class/Record Conversion
      working-directory: ./src/Lod.RecordCollections.IlAssembler/bin/Release/net10.0
      run: |
        dotnet Lod.RecordCollections.IlAssembler.dll ../../../../Lod.RecordCollections/bin/Release/netstandard2.0/Lod.RecordCollections.dll
        dotnet Lod.RecordCollections.IlAssembler.dll ../../../../Lod.RecordCollections/bin/Release/net4.8/Lod.RecordCollections.dll
        dotnet Lod.RecordCollections.IlAssembler.dll ../../../../Lod.RecordCollections/bin/Release/net8.0/Lod.RecordCollections.dll
        dotnet Lod.RecordCollections.IlAssembler.dll ../../../../Lod.RecordCollections/bin/Release/net10.0/Lod.RecordCollections.dll

    - name: Prepare Post-IL Modified Tests
      shell: pwsh
      run: |
        $config = "Release"
        $testOutBase = Join-Path "." "src/Lod.RecordCollections.IlModified.Tests/bin/$config"
        $libOutBase = Join-Path "." "src/Lod.RecordCollections/bin/$config"
        $tfms = @("net8.0", "net10.0", "net4.8")

        foreach ($tfm in $tfms) {
          $dest = Join-Path $testOutBase $tfm
          New-Item -ItemType Directory -Force -Path $dest | Out-Null
          Copy-Item (Join-Path $libOutBase "$tfm/Lod.RecordCollections.dll") (Join-Path $dest "Lod.RecordCollections.dll") -Force
        }

    - name: Test (Post-IL Modified) net8.0
      run: dotnet test ./src/Lod.RecordCollections.IlModified.Tests/Lod.RecordCollections.IlModified.Tests.csproj -c Release --framework net8.0 --no-restore --verbosity normal

    - name: Test (Post-IL Modified) net10.0
      run: dotnet test ./src/Lod.RecordCollections.IlModified.Tests/Lod.RecordCollections.IlModified.Tests.csproj -c Release --framework net10.0 --no-restore --verbosity normal

    - name: Test (Post-IL Modified) net4.8
      run: dotnet test ./src/Lod.RecordCollections.IlModified.Tests/Lod.RecordCollections.IlModified.Tests.csproj -c Release --framework net4.8 --no-restore --verbosity normal
